body{
    background-color: #0a0a;
    display: block;
}
@media screen and (max-width:1600px){
    
    
    #corpo{
        width: 1400px;
        height: 1000px;
        margin: auto;
        position: relative;
        border: 1px solid #000;
        background-color: rgba(250, 111, 106, 0.667);
    }
}
@media screen and (max-width:1400px){
    #corpo{
        width: 1200px;
        height: 1000px;
        margin: auto;
        position: relative;
        border: 1px solid #000;
        background-color: #ff0;
    }
}
@media screen and (max-width:1200px){
}
@media screen and (max-width:1000px){
}
@media screen and (max-width:800px){
}
@media screen and (max-width:600px){
}
@media screen and (max-width:400px){
    
    #corpo{
        width: 1400px;
        height: 1000px;
        margin: auto;
        position: relative;
        border: 1px solid #000;
        background-color: rgba(42, 45, 214, 0.667);
    }
}
